#roomList{
	width: 250px;
	gap: 10px;
}
.roomListItem{
	padding: 14px;
	text-align: left;
	border-radius: 1rem;
	cursor: pointer;
	color: white;
	font-size: 1rem;
	transition: 0.3s;

}
.roomListItem:hover{
	background-color: #272727;
	color: white;
	text-shadow: 0px 0px 2px snow;
}
#navbar{
	gap: 5px;
	align-items: center;
	justify-content: center;
}
.navitem{
	padding: 14px;
	background-color: #272727;
	border-radius: 0.5rem;
	color: whitesmoke;
	cursor: pointer;
	border: 0;
	text-align: center;
	justify-content: center;
	max-width: 200px;
	flex: 1;
}

/* Bottom */
#controller{
	gap: 10px;
	border-top: 1px solid  #272727;
	padding-top: 10px;
	margin-top: 10px;
}
#chat-input{
	padding: 12px;
	flex: 1;
	background-color: #272727;
	border: 0;
	border-radius: 5rem;
	color: whitesmoke;
}
#submitButton{
	font-size: 0.9rem;
	background-color: #272727;
	color: white;
	padding: 5px 20px;
	width: 150px;
	border: 0;
	border-radius: 5rem;
	font-weight: normal;
}

/* Mobile */
@media only screen and (max-width: 600px) {
	.navitem{
		flex: 1;
		padding: 8px;
	}
	#submitButton{
		width: auto;
	}
}