#roomList{
	padding-right: 10px;
	border-right: 1px solid  #272727;
	height: 100%;
	overflow: hidden;
	transition: 0.3s;
}
.roomListClose{
	width: 30px;
}
.roomListOpen{
	width: 250px;
}
.roomListItem{
	padding: 14px;
	text-align: left;
	border-radius: 1rem;
	cursor: pointer;
	color: white;
	font-size: 1rem;
	transition: 0.3s;
	overflow: hidden;
	width: 226px;

}
.roomListItem:hover{
	background-color: #272727;
}
.tag{
	color: gray;
	padding-right: 5px;
}
.toggle{
	width: 30px;
	height: 30px;
	color: white;
	font-size: 0.8rem;
	background-color: #272727;
	border-radius: 50%;
	border: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}
.toggle:hover{
	background-color: #353535;
}
#navbar{
	gap: 5px;
	align-items: center;
	justify-content: center;
}
.navitem{
	padding: 14px;
	background-color: #272727;
	border-radius: 0.5rem;
	font-size: 0.8rem;
	color: whitesmoke;
	cursor: pointer;
	border: 0;
	text-align: center;
	justify-content: center;
	text-decoration: none;
	max-width: 200px;
	flex: 1;
}

/* Chat */
#chat_output{

}

/* Bottom */
#controller{
	gap: 10px;
	border-top: 1px solid  #272727;
	padding-top: 10px;
	margin-top: 10px;
}
#chat-input{
	padding: 12px;
	flex: 1;
	background-color: #272727;
	border: 0;
	border-radius: 5rem;
	color: whitesmoke;
}
#submitButton{
	font-size: 0.9rem;
	background-color: #272727;
	color: white;
	padding: 5px 20px;
	width: 150px;
	border: 0;
	border-radius: 5rem;
	font-weight: normal;
}

/* Mobile */
@media only screen and (max-width: 600px) {
	.navitem{
		flex: 1;
		padding: 8px;
	}
	#submitButton{
		width: auto;
	}
}