/* Chat */
.chat_container{
	background-color: #F9F9FB;
	flex: 1px;
	display: flex;
	flex-direction: column;
}
.chat_layout{
	padding: 10px;
	flex: 1px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.chat_header{
	margin: 0;
	text-align: left;
	color: rgb(21, 21, 21);
	padding: 15px;
	border-bottom: 1px solid #D8DEE5;
	font-size: 1.25rem;
	font-weight: normal;
}
.chat_header span{
	color: rgb(143, 143, 143);
	margin-right: 5px;
}

/* Messages */
.message{
	border-top: 1px solid #D8DEE5;
	display: flex;
	flex-direction: row;
	
}
.messageRight{
	flex: 1;
	display: flex;
	flex-direction: column;
}
.messageInfo{
	font-size: 1rem;
	color: rgb(186, 74, 74);
}
.messageInfo span{
	color: #4B4E53;
	font-weight: normal;
	margin-left: 5px;
	font-size: 0.85rem;
}
.profilePicture{
	background-color: #E4E8ED;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 10px;
}
.messageContent{
	margin: 0;
	color: rgb(21, 21, 21);
	margin-bottom: 10px;
}
.user_block{
	padding: 15px;
	border-top: 1px solid rgb(39, 39, 39);
}
.hor_layout{
	display: flex;
	flex-direction: row;
}
.hor_layout button{
	border: 0;
	background-color: transparent;
	color: rgb(143, 143, 143);
	font-weight: bold;
	flex: 1;
	padding:8px;
	border-bottom: #D8DEE5 1px solid;
	transition: 0.3s;
}
.hor_layout button:hover{
	background-color: #E4E8ED;
	color: rgb(32, 32, 32);
}
/* Input field */
#chat-form
{
	border-top: 1px solid #D8DEE5;
	padding: 5px;
	width: auto;
	background-color: #FFFEFE;
	display: flex;
	flex-direction: row;
	gap: 5px;
}
#chat-input{
	flex: 1;
	padding: 10px;
	background-color: #E4E8ED;
	border: 0;
	font-size: 1rem;
	border-radius: 5px;
	color: #1c1c1c;
}
.submitButton{
	width: 100px;
	border: 0;
	background-color: rgb(14, 14, 14);
	color: white;
	border-radius: 5px;
	font-weight: bold;
}