body{
	display: flex;
	flex-direction: row;
	margin: 0;
	position: relative;
	background-color: #373A3F;
	font-family: sans-serif;
	height: 100vh;
}

/* Server */
.server_list{
	display: flex;
	padding: 10px;
	background-color: #1E2124;
	flex-direction: column;
	gap: 10px;
}
.server_list_item{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 0;
	background-color: #2F3137;
}

/* Room List */
.room_list{
	background-color: #2F3137;
	display: flex;
	flex-direction: column;
}
.room_list_layout{
	display: flex;
	flex-direction: column;
	padding: 10px;
	flex: 1;
}
.room_list_item{
	background-color: transparent;
	padding:10px;
	width: 200px;
	border: 0;
	text-align: left;
	font-size: 1rem;
	border-radius: 0.25rem;
	color: white;
	cursor: pointer;
	transition: 0.3s;
}
.room_list_item:hover{
	background-color: #43474E;
}
.room_list_item span{
	color: rgb(143, 143, 143);
	margin-right: 5px;
}
#room_list_header{
	margin: 0;
	text-align: left;
	color: white;
	padding: 15px;
	border-bottom: 1px solid rgb(39, 39, 39);
	font-size: 1.25rem;
	font-weight: normal;
}
#room_list_header span{
	font-weight: bold;
}