form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-family:sans-serif;
    border-radius: 1rem;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.35);

    width: 100%;
    max-width: 500px;
}
.formHeader{
    padding: 10px;
    padding-bottom: 2rem;
}
.formHeader h1{
    color: rgb(27, 27, 27);
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem;
    margin-bottom: 0.5rem;
}
.formHeader p{
    margin: 0;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.35);
    text-align: center;
}
.formLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Body */
.formBody{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
input{
    color: rgb(236, 236, 236);
    font-weight: 700;
    padding: 10px;
    border-radius: 0.5rem;
    border: 0;
    max-width: 250px;
    min-width: 250px;
    box-shadow: inset 2px 2px 4px black,
}
.formFeet{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formFeet p{
    font-size: 0.75rem;
    text-align: center;
}
.formSubmit{
    padding: 0.85rem 4rem;
    border-radius: 15rem;
    border: 0;
    background-color: rgb(54, 87, 158);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}