<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Chat - PocketChat</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="/css/common.style.css" rel="stylesheet" type="text/css">
    <link href="/css/chat.style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main>
        <container class="container" id="conBody">
            <page id="page_chat">
                <list class="vertical_list" id="roomList">
                    <listItem class="roomListItem">
                        Hello world
                    </listItem>
                </list>
            </page>
        </container>
        <container class="container vertical_list" id="conFeet">
            <nav id="navbar" class="horizontal_list">
                <button class="navitem state_show" id="page_home_button">
                    Home
                </button>
                <button class="navitem state_hide" id="page_chat_button">
                    Chat
                </button>
                <button class="navitem state_show" id="page_account_button">
                    Account
                </button>
                <button class="navitem state_show" id="page_setting_button">
                    Settings
                </button>
            </nav>
            <form id="controller" class="horizontal_list state_show">
                <input id="chat-input" required placeholder="Enter message...">
                <button type="submit" id="submitButton">Send </button>
            </form>
        </container>
    </main>
    <div id="snackbar">Tooltip here...</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <!--<script src="/js/chat.js" type="text/javascript"></script>
    <script src="/js/client.js" type="text/javascript"></script>-->
</body>
</html>
