<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Chat</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="/css/common.style.css" rel="stylesheet" type="text/css">
    <link href="/css/chat.style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="server_list">
        <button class="server_list_item"></button>
        <button class="server_list_item"></button>
        <button class="server_list_item"></button>
    </div>
    <chat id="chat">
        <message>
            <div class="avatar">

            </div>
            <div class="line">
                <h2>Username</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam aliquam ad doloremque.</p>
            </div>
        </message>
        <% messages.items.forEach(item => { %>
            <message>
                <div class="avatar">
    
                </div>
                <div class="line">
                    <h2><%= item.Sender %></h2>
                    <p><%= item.Content %></p>
                    <p class="timestamp"><%= item.created %></p>
                </div>
            </message>
        <% }); %>
    </chat>
    <form id="chat-form">
        <input id="chat-input" required placeholder="Enter message...">
        <button type="submit">></button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js" type="text/javascript"></script>
    <script src="/js/client.js" type="text/javascript"></script>
</body>
</html>
